* {
    margin: 0;
    padding: 0;
}


body{
    overflow-x: hidden;
}

.container{
    position: relative;
}
.container1 img {
    width: 111%;
    margin: 0;
    padding: 0;
    margin-left: -28px;
}
.header1  h1{
 color: rgb(255, 255, 255);
 font-size: 50px;
 margin-left: -650%;
 margin-top: 60%;
}
.TIPS-Podcast p {
    margin-top: 5%;
    margin-left: 20px;
}
.section h4 {
    color: gray;
    margin-left: 25%;
    margin-top: 5%;
    font-size: 20px;
}
.para p {
    color: rgb(177, 177, 177);
    font-size: 20px;
    margin-left: 20px;
}

.middle {
    margin-bottom: 15%;
}
.container1{
    display: flex;
    margin-left: 30px;
}

.box1 img {
    /* border: 1px solid black; */
    height: 100px;
    width: 70%;
    padding:18% ;
}
.box1 img:hover {

  border: 15px solid rgb(230, 228, 228);
}

.box2 img {
    /* border: 1px solid black; */
    height: 100px;
    width: 46%;
    padding: 10%;
    margin-left: 15%;
}
.box2 img:hover {

    border: 15px solid rgb(230, 228, 228);
  }
.box3 img {
  /* border: 1px solid black; */
  margin-left: -10%;
  padding: 33px;
  height: 130px;
  width: 80%;
  

}
.box3 img:hover {

    border: 15px solid rgb(230, 228, 228);
  }
.container2{
    display: flex;
    margin-left: 30px;
}
.box4 img {
    /* border: 1px solid black; */
    height: 106px;
    width: 103%;
    padding:18% ;
 
}
.box4 img:hover {

    border: 15px solid rgb(230, 228, 228);
  }
.box5 img {
    /* border: 1px solid black; */
    height: 100px;
    width: 110%;
    padding:18% ;
    margin-left: 60%;
}
.box5 img:hover {

    border: 15px solid rgb(230, 228, 228);
  }

.box6 img {
    /* border: 1px solid black; */
    height: 133px;
    width: 115%;
    padding:10% ;
    margin-left:    116%;
}
.box6 img:hover {

    border: 15px solid rgb(230, 228, 228);
    width: 110%;
  }
  /* footer */
  .container3 {
    padding-top: 100px;
    margin-top: 1%;
}
.start-col {
  background-color: rgb(31, 31, 67);
  height: 350px;
}
.first-col{
    display: flex;
    flex-wrap: nowrap;
    font-size: 15px;
    padding-left: 4%;
    padding-top: 3%;
  
}
.footer-col{
    padding: 20px;
}

.footer-col h4 {
    color: white;
    padding-left: 10px;
    padding: 15px;
}
.footer-col ol li {
    color: white;
    padding: 2px;
    padding-top: 1px;
    padding-left: 5px;
    list-style: none;
}
.h6 {
    padding-top: 20px;
}
.h6 a{
    color: white;
}
.text{
    background-color: rgb(26, 26, 31);
    padding: 40px;
    color: white;
}